@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html, body, :root {
  height: 100%;
}

@layer base {
  body {
    @apply bg-[#FFF9F3] text-slate-900 antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold tracking-tight text-slate-900;
  }

  p {
    @apply text-sm md:text-base leading-relaxed text-slate-700;
  }
}

